body {
  background-image: url(../img/background1\ .jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  background-color: transparent;
  color: black;
  margin: 0;
  padding: 0;
}


  nav.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    /* Barra de navegación semitransparente */
    box-shadow: 0 0.25em 0.125em -0.125em gray;
    padding: 1em;
  }

  nav.navbar a.navbar-brand,
  nav.navbar a.nav-link {
    color: #333;
    font-size: 1.2em;
  }

  nav.navbar a.navbar-brand:hover,
  nav.navbar a.nav-link:hover {
    color: #007bff;
  }

  .container-fluid {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    /* Fondo del contenido semitransparente */
  }

  .container-fluid h1,
  .container-fluid p {
    color: #190d0d;
    background-color: transparent;
    text-align: center;

  }

  footer {
    margin-top: 2em;
    padding: 1em 0;
    background-color: rgba(52, 58, 64, 0.9);
    /* Fondo del pie de página semitransparente */
    color: #fff;
    font-size: 0.9em;
  }

  .card-body {
    text-align: center;
  }

  .card {
    display: flex;
    margin-bottom: 1.5em;
    /* Margen inferior */
  }

  .card img {
    display: flex;
    border-radius: 0.2em;
    /* Radio de la esquina */
  }

  .card-body {
    text-align: center;
    margin-top: 1em;
    /* Margen superior */
  }

  h5 {
    font-weight: bold;
  }